*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}



a { 
  text-decoration: none;
}

:root {
  --blue-color: #00388C;
  --orange-color: #FCA311;
  --gray-color: #212529;
}

button{
  cursor: pointer;
  color: #000
}

input{
  color: #000;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: #131313;
}

::-webkit-scrollbar-thumb{
  background-color: var(--gray-color)
}

ul li{
  list-style: none;
}